<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Hexo Admin</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.min.css">
</head>
<body>

<div id="alert" class="alert alert-warning" role="alert"></div>

<div id="content-detail-wrap">
    <div id="content-detail-inner">
        <span id="close-detail">&times;</span>
        <div id="content-detail-head"></div>
        <div id="content-detail-body"></div>
        <div id="content-detail-foot"></div>
    </div>
</div>

<header class="jumbotron">
    <div class="container">
        <h1><a href="/">Hexo Admin</a></h1>
        <div class="row">
            <div class="col-sm-4">
                <dl>
                    <dt>Hexo PATH:</dt>
                    <dd><%= data.hexoPath %></dd>
                </dl>
            </div>
            <div class="col-sm-4">
                <dl>
                    <dt>Hexo theme:</dt>
                    <dd><%= data.theme %></dd>
                </dl>
            </div>
        </div>
    </div>
</header>

<% if (data) { %>
<main id="main-container">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-sm-push-9">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Actions</h3>
                    </div>
                    <div class="panel-body">
                        <button type="button" id="add-new" class="btn btn-default">
                            <span class="glyphicon glyphicon-pencil"></span>
                            Write new
                        </button>
                        <button type="button" class="view-config btn btn-default" data-type="site">
                            View site config
                        </button>
                        <button type="button" class="view-config btn btn-default" data-type="theme">
                            View theme config
                        </button>
                    </div>
                </div>

                <div id="hexo-actions" class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Hexo site actions</h3>
                    </div>
                    <div class="panel-body">
                        <p id="visit-hexo">
                            Hexo is running! <a href="http://localhost:4000" target="_blank">Visit</a>
                        </p>
                        <button type="button" id="cli-hexo-server" class="btn btn-default" title="start hexo server">
                            <span class="glyphicon glyphicon-play"></span>
                            Start
                        </button>
                        <button type="button" id="cli-hexo-stop" class="btn btn-default" title="stop hexo server">
                            <span class="glyphicon glyphicon-stop"></span>
                            Stop
                        </button>
                        <button type="button" id="cli-hexo-deploy" class="btn btn-default" title="start hexo deploy">
                            <span class="glyphicon glyphicon-cloud-upload"></span>
                            Deploy
                        </button>
                    </div>
                </div>

                <div id="tag-list" class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><%= data.tags.length %> tags</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-inline list-action">
                            <% for (var key in data.tags){ if (data.tags.hasOwnProperty(key) && key !== 'length'){ %>
                            <li><%= key %> ( <%= data.tags[key].length %> )</li>
                            <% }} %>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-9 col-sm-pull-3">
                <% include tpl/list.ejs %>
            </div>
        </div>
    </div>
</main>
<% } else { %>
<p>no content</p>
<% } %>

<footer>
    <div class="container">
        <hr>
        <p class="text-center">Have a nice day!</p>
    </div>
</footer>

<script src="js/jquery.min.js"></script>
<script src="js/entry.min.js"></script>

</body>
</html>