<% if (data.type) { %>
<ul id="content-tool" class="list-action list-unstyled"
    data-type="<%= data.type %>" data-index="<%= data.index %>">
    <li id="t-edit">编辑</li>

    <% if (data.type == 'posts' || data.type == 'pages'){ %>
    <li id="t-unpublish">移到草稿</li>
    <% } else if (data.type == 'drafts') { %>
    <li id="t-publish-post">发布到文章</li>
    <li id="t-publish-page">发布到页面</li>
    <% } else if (data.type == 'trash') { %>
    <li id="t-publish-post">还原到文章</li>
    <li id="t-publish-page">还原到页面</li>
    <li id="t-unpublish">还原到草稿</li>
    <% } %>

    <% if (data.type === 'trash') { %>
    <li id="t-delete">删除</li>
    <% }else { %>
    <li id="t-delete">移到回收站</li>
    <% } %>
</ul>
<% } %>
<%
var data_content = 'no content';
if (data.raw_content) {
    data_content = data.raw_content.trim();
} else if (typeof data == 'string') {
    data_content = data.trim()
}
%>
<% if (data.page_url) { %>
<h3>/<%= data.page_url %></h3>
<% } else if (data.title) { %>
<h3><%= data.title %></h3>
<% } %>

<% if (data.file_path) { %>
<span class="text-muted"><%= data.file_path %></span>
<% } %>

<hr>

<div id="content-detail"><%= data_content %></div>