<% if (data.type) { %>
<ul id="content-tool" class="list-action list-unstyled"
    data-type="<%= data.type %>" data-index="<%= data.index %>">
    <li id="t-edit">Edit</li>

    <% if (data.type == 'posts' || data.type == 'pages'){ %>
    <li id="t-unpublish">Move to draft</li>
    <% } else if (data.type == 'drafts') { %>
    <li id="t-publish-post">Publish to post</li>
    <li id="t-publish-page">Publish to page</li>
    <% } else if (data.type == 'trash') { %>
    <li id="t-publish-post">Restore to post</li>
    <li id="t-publish-page">Restore to page</li>
    <li id="t-unpublish">Restore to draft</li>
    <% } %>

    <% if (data.type === 'trash') { %>
    <li id="t-delete">Delete</li>
    <% }else { %>
    <li id="t-delete">Move to trash</li>
    <% } %>
</ul>
<% } %>
<%
var data_content = 'no content';
if (data.raw_content) {
    data_content = data.raw_content.trim();
} else if (typeof data == 'string') {
    data_content = data.trim()
}
%>
<% if (data.page_url) { %>
<h3>/<%= data.page_url %></h3>
<% } else if (data.title) { %>
<h3><%= data.title %></h3>
<% } %>

<% if (data.file_path) { %>
<span class="text-muted"><%= data.file_path %></span>
<% } %>

<hr>

<div id="content-detail"><%= data_content %></div>